/* Sidebar */
.sidebar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh; 
  padding-top: 20px;
}

.menu-item {
  text-align: center;
  margin: 20px 0; 
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
  padding: 10px; 
  border-radius: 5px; 
  background-color: #96c1a0; 
  transition: background-color 0.3s;
}

.menu-link:hover {
  background-color: #c2d2c6;
}

.menu-icon {
  margin-right: 10px;
}

.ToDoList {
  background-color: #c2d2c6; 
}

/* ToDo List Item Styling */
.todo-list {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.todo-item:hover {
  background-color: #f0f0f0;
}

.todo-time {
  margin-right: 10px;
}

.todo-name.completed {
  text-decoration: line-through;
}

.todo-time.completed {
  color: green;
}

/* List group item styling */
.list-group-item {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #4a5c66;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
}

.list-group-item:hover {
  background-color: #96c1a0;
}

.react-calendar {
  width: 100%;
  border: none;
}

.react-calendar__navigation {
  margin-bottom: 1em;
}

.react-calendar__tile {
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile--now {
  background: #b4eed0;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #6cd987;
}

.react-calendar__tile--hasActive {
  background: #80ba24;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #6cd987;
}

.react-calendar__tile--active {
  background: #80ba24;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #80ba24;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* Time and Task Styling */
.schedule-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #ddd;
  position: relative;
}

.time-slot {
  padding: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  position: relative;
}

.time-slot:first-child {
  border-top: none;
}

.time-label {
  font-weight: bold;
  width: 60px; /* Fixed width for time labels */
  flex-shrink: 0;
}

.task {
  background-color: #e0f7fa;
  padding: 5px;
  border-radius: 3px;
  margin-left: 10px; /* Ensure this margin aligns tasks properly */
  flex-grow: 1;
}

/* Additional styling to align with the second screenshot */
.schedule-list {
  max-height: 600px;
  overflow-y: auto;
}

.main-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Added styles for modal */
.modal-header,
.modal-body,
.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-body {
  font-size: 1.2em;
}

.modal-footer {
  gap: 10px;
}
