        .main-content {
            padding-top: 100px;
            /* Adjust this value based on your header height */
        }
        
        .hover-shadow:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        /*.btn-floating {
            position: absolute;
            bottom: 520px;
            right: 354px;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            text-align: center;
            line-height: 66px;
            background-color: #26a69a;
            color: white;
        }*/
        
        .btn-floating {
            position: absolute;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            text-align: center;
            line-height: 66px;
            background-color: #26a69a;
            color: white;
        }
        
        .btn-floating:hover {
            background-color: #2bbbad;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        }
        
        .head {
            background-color: #26837c;
            line-height: 66px;
            color: white;
        }
        
        .card-action {
            padding: 10px;
            text-align: center;
            font-size: 1.5rem;
            color: #c7960e;
        }
        
        .card-action:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }